/*==========================
INDIMUS PREMIUM CSS v1
==========================*/

*{
margin:0;
padding:0;
box-sizing:border-box;
}

html{
scroll-behavior:smooth;
}

body{

font-family:Arial,Helvetica,sans-serif;

background:#08110d;

color:white;

overflow-x:hidden;

}

/*================ NAVBAR ================*/

.navbar{

background:rgba(0,0,0,.45);

backdrop-filter:blur(20px);

padding:15px 0;

transition:.4s;

}

.navbar-brand{

font-size:30px;

font-weight:700;

color:#2cff88!important;

letter-spacing:1px;

}

.nav-link{

color:white!important;

margin-left:20px;

font-size:16px;

transition:.4s;

}

.nav-link:hover{

color:#2cff88!important;

}

/*================ HERO ================*/

.hero{

min-height:100vh;

display:flex;

align-items:center;

background:
linear-gradient(rgba(0,0,0,.65),
rgba(0,0,0,.75)),
url("background.jpg");

background-size:cover;

background-position:center;

padding-top:80px;

}

.hero h5{

color:#2cff88;

letter-spacing:4px;

font-size:18px;

margin-bottom:20px;

}

.hero h1{

font-size:70px;

font-weight:800;

line-height:1.15;

margin-bottom:25px;

}

.hero p{

font-size:20px;

color:#dddddd;

line-height:1.8;

margin-bottom:35px;

max-width:550px;

}

.hero-image{

width:430px;

max-width:100%;

animation:float 5s infinite ease-in-out;

}

/*================ BUTTONS ================*/

.btn-success{

background:#25d366;

border:none;

padding:14px 35px;

border-radius:50px;

font-weight:bold;

}

.btn-success:hover{

transform:translateY(-3px);

background:#33e477;

}

.btn-outline-light{

padding:14px 35px;

border-radius:50px;

margin-left:15px;

}

/*================ ANIMATION ================*/

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-18px);

}

100%{

transform:translateY(0px);

}

}

/*================ MOBILE ================*/

@media(max-width:992px){

.hero{

text-align:center;

padding-top:120px;

}

.hero h1{

font-size:48px;

}

.hero-image{

margin-top:50px;

width:260px;

}

.hero p{

margin:auto;

margin-bottom:30px;

}

}

@media(max-width:768px){

.hero h1{

font-size:38px;

}

.hero h5{

font-size:15px;

}

.hero p{

font-size:17px;

}

.btn{

width:100%;

margin-bottom:15px;

}

.btn-outline-light{

margin-left:0;

}

.nav-link{

margin-left:0;

padding:12px;

}

}

@media(max-width:500px){

.hero h1{

font-size:31px;

}

.hero p{

font-size:15px;

}

.hero-image{

width:190px;

}

}
